<div class="container">
    <div class="about_me">I am a automatic control and robotics engineer who's knowledgeable
        in both computer science and electrical engineering. I decided to
        change career path and become a programmer, because
        programming gives me the greatest satisfaction. Below you can see some of rules that I follow:
    </div>
    <div class="rules_container">
        <div class="first_rule rules">
            <div class="rule_image col-12 col-sm-4 col-md-3  col-lg-2">
                <img src="../../assets/img/book.png" alt="clean code png" />
            </div>
            <div class="rule_description_container col-12 col-sm-8 col-md-9 col-lg-10">
                <div class="rule_title">
                    Write readable programs for people, not just for computers.
                </div>
                <div class="rule_description ">
                    Code should be written in that way, that every other developer should read it without problems. This
                    means that each variable, function, class name should clearly indicate what it is for.
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="secound_rule rules">
            <div class="rule_image col-12 col-sm-4 col-md-3  col-lg-2">
                <img src="../../assets/img/clean_code.png" alt="clean png" width=150 />
            </div>
            <div class="rule_description_container col-12 col-sm-8 col-md-9 col-lg-10">
                <div class="rule_title">
                    Leave your code better than you found it.
                </div>
                <div class="rule_description">
                    Keeping code clean is a constant challenge. Instead of making a bigger and bigger mess into the
                    code, every commit should put it in order.
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="third_rule rules">
            <div class="rule_image col-12 col-sm-4 col-md-3  col-lg-2">
                <img src="../../assets/img/tests.png" alt="tests png" width=150 />
            </div>
            <div class="rule_description_container col-12 col-sm-8 col-md-9 col-lg-10">
                <div class="rule_title">
                    Test your code.
                </div>
                <div class="rule_description">
                    Software testing is really important to point out the defects and errors that were made during the
                    development phases. It also improves the quality of the product and project by discovering bugs at
                    early stage in the application.
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="fourth_rule rules">
            <div class="rule_image col-12 col-sm-4 col-md-3  col-lg-2">
                <img src="../../assets/img/simple.png" alt="glasses png" width=150 />
            </div>
            <div class="rule_description_container col-12 col-sm-8 col-md-9 col-lg-10">
                <div class="rule_title">
                    Keep it simple.
                </div>
                <div class="rule_description">
                    Functions should be focused on a single concern and do precisely one task. If you have a choice
                    between clean code that is not often used or a slight performance increase, always choose clean
                    code.
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>