:host {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.container {
    color: rgba(0, 0, 0, .74);
    font-size: 18px;
    line-height: 32px;
}

.about_me {
    margin-top: 20px;
    text-align: justify;
}

.rules {
    margin-top: 20px;
    background-color: rgba(233, 233, 233, .54);
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.25), 10px 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 70px;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.rules:last-child {
    margin-bottom: 20px;
}

.rules:hover {
    background-color: rgba(233, 233, 233, .94);
}

.rule_image {
    border-right: 2px dashed rgba(51, 49, 49, 0.54);
    float: left;
    height: 100%;
}

.rule_image img {
    width: 100%;
}

@media only screen and (max-width: 575px) {
    img {
        width: 150px !important;
        height: 150px;
    }
    .rule_image {
        justify-content: center;
        display: flex;
        margin-bottom: 10px;
        border: none;
    }
    .rules {
        flex-direction: column;
    }
}

.rule_description_container {
    padding-right: 0;
    float: left;
}

.clear {
    clear: both;
}

.rule_title {
    font-size: 1.6rem;
    font-weight: 450;
    margin-bottom: 10px;
    text-align: justify;
}

.rule_description {
    text-align: justify;
}