<div class="container">
    <div class="about_me">I am a automatic control and robotics engineer who's knowledgeable
        in both computer science and electrical engineering. I decided to
        change career path and become a programmer, because
        programming gives me the greatest satisfaction. Below you can see some of rules that I follow:
    </div>
    <div class="rules_container">
        <div class="first_rule rules">
            <div class="rule_image col-12 col-sm-4 col-md-3  col-lg-2">
                <img src="../../assets/img/clean_code.png" alt="clean code png" />
            </div>
            <div class="rule_description_container col-12 col-sm-8 col-md-9 col-lg-10">
                <div class="rule_title">
                    1. Try to apply design patterns whenever possible.
                </div>
                <div class="rule_description ">
                    Design patterns
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="secound_rule rules">
            <div class="rule_image col-12 col-sm-4 col-md-3  col-lg-2">
                <img src="../../assets/img/clean.png" alt="clean png" width=150 />
            </div>
            <div class="rule_description_container col-12 col-sm-8 col-md-9 col-lg-10">
                <div class="rule_title">
                    2. Leave your code better than you found it.
                </div>
                <div class="rule_description">
                    Boy Scouts have a rule regarding camping, that they should leave the campground cleaner than
                    they
                    found it.
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="third_rule rules">
            <div class="rule_image col-12 col-sm-4 col-md-3  col-lg-2">
                <img src="../../assets/img/tests.png" alt="tests png" width=150 />
            </div>
            <div class="rule_description_container col-12 col-sm-8 col-md-9 col-lg-10">
                <div class="rule_title">
                    3. Test first
                </div>
                <div class="rule_description">
                    Tests have a lot of adventages when you know how to write them. Good written tests can save a
                    lot o
                    time and nerves. I try to use TDD as often as possible.
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="fourth_rule rules">
            <div class="rule_image col-12 col-sm-4 col-md-3  col-lg-2">
                <img src="../../assets/img/glasses.png" alt="glasses png" width=150 />
            </div>
            <div class="rule_description_container col-12 col-sm-8 col-md-9 col-lg-10">
                <div class="rule_title">
                    4. Create readable programs for people, not just for computers.
                </div>
                <div class="rule_description">
                    Code should be written in that way, that every programmer should read it without problems. This
                    means that each variable name should clearly indicate what it is for.
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>