:host {
    display: grid;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.projects_container {
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.project_image {
    float: left;
}

.project_image img {
    width: 100%;
}

.project_description_container {
    float: left;
    color: rgba(0, 0, 0, 0.74);
}

.project_image img {
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.5), 10px 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.project_image img {
    border-radius: 2em 1em 4em / 0.5em 3em;
}

.project_title {
    margin-top: 10px;
}

.project_title h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    letter-spacing: 2px;
}

.project_description {
    text-align: justify;
    line-height: 26px;
    /* text-indent: 20px; */
    font-size: 18px;
}

.control {
    border: none;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.2em;
    color: rgba(68, 63, 63, 0.8);
    font-weight: bold;
    font-size: 4em;
    user-select: none;
    opacity: 60%;
    z-index: 2;
}

.control:hover {
    opacity: 1;
}

.control:focus {
    opacity: 1;
}

.arrow {
    display: block;
    border-left: 0.1em solid rgba(68, 63, 63, 0.8);
    border-bottom: 0.1em solid rgba(68, 63, 63, 0.8);
    width: 0.7em;
    height: 0.7em;
}

.arrow_left {
    transform: rotate(45deg);
}

.arrow_right {
    transform: rotate(225deg);
}

.next {
    position: absolute;
    right: 3%;
}

.prev {
    position: absolute;
    left: 3%;
}