.media {
    margin-top: 20px;
    width: 560px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #3b5998;
    border-radius: 50px;
}

.icon {
    float: left;
}

.description {
    display: flex;
    float: left;
    font-size: 84px;
    color: #fafafa;
}

.facebook .icon {
    font-size: 84px;
    margin-right: 15px;
    color: #fafafa;
}

.fab {
    line-height: 0;
}