<div class="media_container">
    <div class="group">
        <div class="facebook_animation">
            <div class="media facebook animate_media">
                <div class="icon">
                    <i class="fab fa-facebook-square"></i>
                </div>
                <div class="description">
                    Facebook
                </div>
                <div style="clear:both"></div>
            </div>
        </div>


        <div class="linkedin_animation">
            <div class="hide">
                <div class="media linkedin animate_media">
                    <div class="icon">
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <div class="description">
                        LinkedIn
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>


        <div class="gmail_animation">
            <div class="hide">
                <div class="media gmail animate_media">
                    <div class="icon">
                        <i class="fas fa-envelope-square"></i>
                    </div>
                    <div class="description">
                        mategrze@gmail.com
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>

        <div class="github_animation">
            <div class="hide">
                <div class="media github animate_media">
                    <div class="icon">
                        <i class="fab fa-github-square"></i>
                    </div>
                    <div class="description">
                        GitHub
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
    </div>

</div>