<div class="media_container">
    <div class="media facebook">
        <div class="icon">
            <i class="fab fa-facebook-square"></i>
        </div>
        <div class="description">
            Facebook
        </div>
        <div style="clear:both"></div>
    </div>

    <div class="media linkedin">
        <div class="icon">
            <i class="fab fa-linkedin"></i>
        </div>
        <div class="description">
            LinkedIn
        </div>
        <div style="clear:both"></div>
    </div>

    <div class="media gmail">
        <div class="icon">
            <i class="fas fa-envelope-square"></i>
        </div>
        <div class="description">
            mategrze@gmail.com
        </div>
        <div style="clear:both"></div>
    </div>

    <div class="media github">
        <div class="icon">
            <i class="fab fa-github-square"></i>
        </div>
        <div class="description">
            GitHub
        </div>
        <div style="clear:both"></div>
    </div>
</div>