:host {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.media_container {
    width: 100%;
    height: 100%;
    display: grid;
    /* flex-flow: column; */
    align-items: center;
    /* justify-content: center; */
}

.group {
    display: flex;
    flex-flow: column;
}

.media {
    margin-top: 35px;
    width: 560px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    text-align: left;
    border-radius: 50px;
}

.icon {
    margin-left: 50px;
    float: left;
    font-size: 84px;
    margin-right: 15px;
    color: #fafafa;
}

.description {
    display: flex;
    float: left;
    font-size: 70px;
    color: #fafafa;
    letter-spacing: 4px;
}

.fab {
    line-height: 0;
}

.facebook {
    background-color: #3b5998;
    box-shadow: 0 4px 8px 4px rgba(59, 89, 152, 0.5), 10px 6px 20px 0 rgba(59, 89, 152, 0.5);
}

.facebook:hover {
    background-color: #4c6aa9;
}

.linkedin {
    background-color: #0e76a8;
    box-shadow: 0 4px 8px 4px rgba(14, 118, 168, 0.5), 10px 6px 20px 0 rgba(14, 118, 168, 0.5);
}

.linkedin:hover {
    background-color: #1f87b9;
}

.gmail {
    background-color: #c71610;
    box-shadow: 0 4px 8px 4px rgba(199, 22, 16, 0.5), 10px 6px 20px 0 rgba(199, 22, 16, 0.5);
}

.gmail:hover {
    background-color: #d82721;
}

.gmail .description {
    font-size: 38px;
    letter-spacing: normal;
}

.github {
    background-color: #24292e;
    margin-bottom: 45px;
    box-shadow: 0 4px 8px 4px rgba(36, 41, 46, 0.5), 10px 6px 20px 0 rgba(36, 41, 46, 0.5);
}

.github:hover {
    background-color: #353a3f;
}

.animate_media:hover {
    cursor: pointer;
}

@-webkit-keyframes animate_media {
    16.65% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    33.3% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes animate_media {
    16.65% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    33.3% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.animate_media {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

.animate_media:hover,
.animate_media:focus,
.animate_media:active {
    -webkit-animation-name: animate_media;
    animation-name: animate_media;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes hideElement {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.facebook_animation {
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.linkedin_animation {
    animation: 0.5s ease-out 0.25s 1 slideInFromRight;
}

.gmail_animation {
    animation: 0.5s ease-out 0.5s 1 slideInFromLeft;
}

.github_animation {
    animation: 0.5s ease-out 0.75s 1 slideInFromRight;
}

.linkedin_animation .hide {
    animation: 0.25s ease-out 0s 1 hideElement;
}

.gmail_animation .hide {
    animation: 0.5s ease-out 0s 1 hideElement;
}

.github_animation .hide {
    animation: 0.75s ease-out 0s 1 hideElement;
}

@media only screen and (min-width: 450px) and (max-width: 567px) {
    .media {
        width: 440px;
        height: 80px;
    }
    .description {
        font-size: 50px;
    }
    .icon {
        font-size: 64px;
    }
    .gmail .description {
        font-size: 30px;
    }
}

@media only screen and (max-width: 450px) {
    .media {
        width: 340px;
        height: 60px
    }
    .description {
        font-size: 30px;
    }
    .icon {
        font-size: 54px;
    }
    .gmail .description {
        font-size: 20px;
    }
}