:host {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.content {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.content_width {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.top {
    padding-top: 10px;
}

.mat-toolbar-single-row {
    height: auto;
}

.welcome {
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: 3rem;
    font-weight: 300;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu div {
    margin: 5px 1.5rem;
}

.description {
    justify-content: center;
    font-weight: 300;
    white-space: normal;
}

.description div {
    text-align: justify;
    max-width: 1000px;
}

::ng-deep .mat-toolbar-row {
    height: auto !important;
    margin: 8px 0;
}

.menu button {
    font-size: 1.8rem;
    font-weight: 400;
    margin-right: 3%;
    border: none;
    outline: none;
}

.menu a {
    font-size: 1.8rem;
    font-weight: 400;
    border: none;
    outline: none;
}

.menu a:hover {
    text-decoration: none;
}

.menu a {
    margin-right: 0;
}

.toggle_about_me {
    float: left;
    font-size: 1.3rem;
    padding: 10px;
}

.toggle_about_me:hover {
    cursor: pointer;
    background-color: #5629a6;
    border-radius: 15px;
}

.toggle_menu {
    position: absolute;
    right: 16px;
    top: 12px;
    font-size: 1.3rem;
    padding: 10px;
}

.toggle_menu:hover {
    cursor: pointer;
    background-color: #5629a6;
    border-radius: 15px;
}

.fas {
    font-size: 46px;
}

.toggle {
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    padding-bottom: 15px;
    position: relative;
}

.hide {
    display: none;
}

.collapsible_menu {
    font-size: 2.2rem;
    font-weight: 400;
    position: absolute;
    right: 0px;
    top: 94px;
    z-index: 3;
    /* display: none; */
    overflow: hidden;
    background-color: #673ab7;
    border-radius: 0 0 15px 15px;
}

.collapsible_menu div {
    padding: 16px;
    color: #fff;
}

.collapsible_menu a {
    text-decoration: none;
}

.collapsible_menu div:first-child {
    border-top: 2px solid #5629a6;
}

.collapsible_menu div:not(:last-child) {
    border-bottom: 1px dotted darkblue;
}

.collapsible_menu div:hover {
    cursor: pointer;
    background-color: #5629a6;
}

.collapsible_about_me {
    border-top: 2px solid #5629a6;
    padding: 10px;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 300;
    position: absolute;
    left: 0px;
    top: 94px;
    z-index: 3;
    /* display: none; */
    overflow: hidden;
    background-color: #673ab7;
    border-radius: 0 0 15px 15px;
    white-space: normal;
}

.collapsible_about_me div:first-child {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
    .rwd_min {
        display: block;
        padding-bottom: 15px;
    }
    .rwd_max {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .rwd_min {
        display: none;
    }
    .rwd_max {
        display: block;
    }
}