<span>
  <mat-toolbar color="primary" class="top">
    <mat-toolbar-row class="welcome">
      <span>Welcome</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="description">
      <div>My name is Mateusz Grzelak and I am a Java web developer. I mainly use Spring
        Framework to create business
        logic
        and Angular 9 for visual layer. Below you can find description of some of my projects and principles I
        follow.
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="menu alternate_theme">
        <button mat-raised-button color="primary" routerLink="/about">About me</button>
        <button mat-raised-button color="primary" routerLink="/projects">Projects</button>
        <button mat-raised-button color="primary" routerLink="/contact">Contact</button>
        <button mat-raised-button color="primary">GitHub</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

</span>
<div class="content">
  <div class="content_width">
    <router-outlet></router-outlet>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>